<% provide(:title, 'Edit user')  %>

<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control input-sm" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.text_field :email, class: "form-control input-sm" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: "form-control input-sm" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control input-sm" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save changes", class: "btn btn-primary btn-lg btn-block" %>
      </div>

    <% end %>

    <div class="gravatar_edit">
      <h5>Avatar:</h5>
      <%= link_to (gravatar_for @user), 'http://gravatar.com/emails',
                                                          :target => "_blank" %>
      <%= link_to 'Click to change!', 'http://gravatar.com/emails',
                                                          :target => "_blank" %>
    </div>

  </div>
</div>
